# Environment Variables

# API Base URL
VITE_API_URL=http://localhost:5000/api

# App Configuration
VITE_APP_NAME=Sanskriti
VITE_APP_VERSION=1.0.0

# Razorpay (Payment Gateway)
VITE_RAZORPAY_KEY_ID=rzp_test_SHGZoa5I7bIWkI
